@use '../utilities/flex';
@use '../utilities/colors';
@use '../utilities/text';
@use '../components/button';
@use '../components/line';


.main__about-block {
    background: colors.$WHITE;
    @include flex.flex($ai: flex-end);
    flex-direction: column;
    .about-author {
        min-width: 1820px;
        margin: 160px 0px 0px 0px;
        background: colors.$ULTRA_LIGHT_GREY;
        @include flex.flex($ai: center, $jc: center);
        flex-direction: column;
        @media (max-width: 1919px) {
            min-width: 0px;
        }
        .about-author__img{
            margin: 150px 0px 80px 0px;
            img {
                @media (min-width: 320px) and (max-width: 767px) {
                    width: 300px;
                    height: 200px;    
                }
                
                @media (min-width: 768px) and (max-width: 1023px) {
                    width: 550px;
                }

                @media (min-width: 1024px) and (max-width: 1439px) {
                    width: 700px;
                }
                
                @media (min-width: 1440px) and (max-width: 1919px) {
                    width: 1200px;
                }
            }

        }
        .about-author__info {
            min-width: 1300px;
            margin-bottom: 140px;
            @include flex.flex($ai: center, $jc: space-between);
            @media (max-width: 1023px) {
                flex-direction: column;
                min-width: 0px;
                padding: 0px 20px;
                .info__location-data {
                    margin-bottom: 80px;
                }
            }
            @media (min-width: 1024px) and (max-width: 1439px) {
                min-width: 1000px;
            }
            .info__location-data {
                background: colors.$WHITE;
                @media (min-width: 1024px) and (max-width: 1439px) {
                    margin-left: 10px;
                }
                @media (min-width: 1440px) and (max-width: 1919px) {
                    margin-left: 50px;
                }
                .data-blocks {
                    @include flex.flex;
                    margin: 45px 65px;
                    @media (max-width: 424px) {
                        margin: 45px 25px;
                    }
                    @media (min-width: 425px) and (max-width: 1023px) {
                        margin: 45px 65px;
                    }
                    .data-headings {
                        margin-right: 20px;
                        @include text.heading($color: colors.$BLUE, $fs: 24px, $lh: 52px);
                        @media (max-width: 1023px) {
                            font-size: 15px;                       
                        }
                    }
                    .data-paragraphs {
                        @include text.paragraph($color: colors.$GREY, $fs: 19px, $lh: 275%);
                        @media (max-width: 1023px) {
                            font-size: 15px; 
                            line-height: 350%;
                        }
                        p {
                            img {
                                margin-right: 20px;
                                @media (min-width: 320px) and (max-width: 374px) {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
            .info__personal-data {
                max-width: 600px;
                h2 {
                    @include text.heading($color: colors.$BLUE, $fs: 45px);
                    margin-bottom: 20px;
                }
                .line {
                    @include line.line;
                    margin-bottom: 25px;
                }
                p {
                    @include text.paragraph($color: colors.$GREY, $fs: 19px, $lh: 180%);
                    margin-bottom: 35px;
                }
                button {
                    @include button.btn(primary);
                }
                @media (min-width: 1024px) and (max-width: 1439px) {
                    max-width: 490px;
                    h2 {
                        font-size: 30px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}