@use '../utilities/flex';
@use '../utilities/colors';
@use '../utilities/text';
@use '../components/button';
@use '../components/line';


.main__about-block {
    background: colors.$WHITE;
    @include flex.flex($ai: flex-end);
    flex-direction: column;
    .about-author {
        min-width: 95%;
        margin: 160px 0px 0px 0px;
        background: colors.$ULTRA_LIGHT_GREY;
        @include flex.flex($ai: center, $jc: center);
        flex-direction: column;
        @media (max-width: 1919px) {
            margin: 160px 0px 30px 0px;
        }
        @media (max-width: 1439px) {
            max-width: 95%;
        }
        .about-author__img{
            margin: 150px 0px 80px 0px;
            img {
                width: 80%;
                display: flex;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .about-author__info {
            min-width: 75%;
            margin-bottom: 140px;
            @include flex.flex($ai: center, $jc: space-between);
            @media (max-width: 1023px) {
                flex-direction: column;
                min-width: 0px;
                margin-bottom: 20px;
                .info__location-data {
                    margin-bottom: 40px;
                }
            }
            .about-author__block {
                background: #fff;
                width: 400px;
                @include flex.flex($jc: center, $ai: normal);
                flex-direction: column;
                margin: 0px 30px 0px 0px;
                padding: 30px 30px;
                @media (min-width: 320px) and (max-width: 767px) {
                    width: 90%;
                    margin: 0px;
                }
                @media (max-width: 1023px) {
                    margin-bottom: 50px;
                }
                .block__data {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @media (min-width: 320px) and (max-width: 767px) {
                        flex-direction: column;
                    }
                    .data__headings {
                        p {
                            @include text.heading($color: colors.$BLUE, $fs: 24px, $lh: 52px);
                        }
                    }
                    .data__parapgraph {
                        p {
                            @include text.paragraph($color: colors.$GREY, $fs: 19px, $lh: 275%);
                            img {
                                margin-left: 30px;                                
                            }
                        }
                    }
                }
                
            }
        }
            .info__personal-data {
                max-width: 600px;
                h2 {
                    @include text.heading($color: colors.$BLUE, $fs: 45px);
                    margin-bottom: 20px;
                }
                .line {
                    @include line.line;
                    margin-bottom: 25px;
                }
                p {
                    @include text.paragraph($color: colors.$GREY, $fs: 19px, $lh: 180%);
                    margin-bottom: 35px;
                }
                button {
                    @include button.btn(primary);
                }
                @media (min-width: 1024px) and (max-width: 1439px) {
                    max-width: 490px;
                    h2 {
                        font-size: 30px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
                @media (max-width: 1023px) {
                    padding: 0px 30px;
                }
            }
        }
}