@use '../utilities/flex';
@use '../utilities/colors';
@use '../utilities/text';

.articles__block {
    max-width: 410px;
    @media (min-width: 320px) and (max-width: 767px) {
        max-width: 90%;
    }
    @media (max-width: 1023px) {
        margin-bottom: 50px;
    }

    @media (min-width: 1024px) and (max-width: 1289px) {
        margin-left: 10px;
        &:last-child {
            margin-top: 50px;
        }
    }
    .articles__block_img {
        img {
            @media (min-width: 320px) and (max-width: 767px) {
                width: 100%;
            }
        }
    }

    .articles__block_text {
        margin-top: -5px;
        background: colors.$WHITE;
        padding: 30px 25px;
        h3 {
            @include text.heading($color: colors.$BLUE, $fs: 24px, $lh: 120%);
            margin-bottom: 10px;
            
        }
        p {
            @include text.paragraph($color: colors.$GREY, $fs: 19px);
            margin-bottom: 25px;
        }
        .text__more {
            @include flex.flex($ai: center, $jc: space-between);
            .read__more {
                max-width: 50%;
                
                a {
                    @include text.heading($color: colors.$BLUE, $fs: 18px, $lh: 125%);
                    border-bottom: 1px solid colors.$BLUE;
                }
            }
            .author__date {
                max-width: 50%;
                span {
                    @include text.paragraph($color: colors.$BLUE, $fs: 17px);
                }
            }
        }
    }
}