@use '../utilities/colors';
@use '../utilities/flex';

.header__wrapper {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: 1023px) {
        justify-content: space-between;
            &.open {
                .header__sides {
                    transform: translateX(0%);
                    @media (max-width: 1023px) {
                        display: flex;
                    }
                }
                .header__burger-btn {
                    span {
                        &:nth-child(1) {
                            transform: translateY(0) rotate(45deg);
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            transform: translateY(0) rotate(-45deg);
                        }
                    }
                }
        }
    }

    @media screen and (max-width: 1350px) {
        border-radius: 0%;
    }

    .header__burger-btn {
        position: relative;
        width: 40px;
        height: 40px;
        border: none;
        display: none;
        z-index: 2;
        background-color: transparent;
        margin-left: 10px;
        span {
            position: absolute;
            width: 30px;
            height: 3px;
            background-color: #fff;
            left: 5px;
            transition: transform .5s, opacity .5s, background-color .5s;
            &:nth-child(1) {
                transform: translateY(-10px);
            }
            &:nth-child(3) {
                transform: translateY(10px);
            }
        }
        
        @media screen and (max-width: 1023px) {
            display: block;
        }
    }

    .header__sides {
        justify-content: flex-start;
        @media screen and (max-width: 1023px) {
            margin-right: 20px;
        }
        span {
            font-size: 35px;
            span {
                font-size: 25px;
            }
        }

    }

    .header__sides {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .menu__box {
            display: flex;
            justify-content: flex-start;
            li {
                margin-right: 100px;
                list-style-type: none;
            }
        }

        @media screen and (max-width: 1023px) {
            display: flex;
            flex-direction: column;
            position: fixed;
            transform: translateY(-200%);
            top: 0;
            padding: 50px 20px 20px 20px;
            background-color: #8d9696;
            width: 100%;
            transition: transform .5s;
            text-align: center;

            .header__left-side {
                margin-bottom: 30px;
            }

            .menu__box {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                li {
                    margin-right: 0px;
                    a {
                        color: #000;
                        display: block;
                        padding: 30px 40px;
                        font-size: 30px;
                    }
                }
            }
        }

        

        @media (min-width: 320px) and (max-width: 1023px) {
            width: 100%;
            display: block;
            text-align: center;

            .menu__box {
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 100%;
                transform: translate(-50%, -50%);

                li {
                    margin-right: 0px;
                }

            }
        }
    }
}