@use '../utilities/flex';
@use '../utilities/colors';
@use '../utilities/text';
@use '../utilities/list';

.chapter__content-card {
    max-width: 630px;
    background: colors.$WHITE;
    padding: 50px;
    @media (min-width: 320px) and (max-width: 767px) {
        width: 90%;
    }
    
    &:nth-child(odd) {
        margin-right: 40px;
        @media (max-width: 1439px) {
            margin-right: 0px;  
        }

    }


    margin-bottom: 40px;
    h3 {
        @include text.heading($color: colors.$BLUE, $fs: 24px, $lh: 150%);
        margin-bottom: 15px;
    }
    p {
        @include text.paragraph($color: colors.$GREY, $fs: 19px);
        margin-bottom: 15px;
    }
    ul {
        margin: 20px 0px 0px 20px;
        @include flex.flex($jc: space-between);
        @media (min-width: 320px) and (max-width: 767px) {
            flex-direction: column;
            li {
                margin-bottom: 20px;
                span {
                    font-size: 16px;
                }
            }
        }
    }
    @include list.ul-list($color: colors.$BLUE, $spanColor: colors.$GREY);
}