@use '../utilities/flex';
@use '../utilities/colors';
@use '../utilities/text';

@mixin cards {
    .learn__cards {
        @include flex.flex;
        flex-wrap: wrap;
        @media (min-width: 320px) and (max-width: 767px) {
            flex-direction: column;
        }
        .learn__card {
            max-width: 300px;
            @include flex.flex;
            flex-direction: column;
            padding: 40px 35px;
            background: colors.$ULTRA_LIGHT_BLUE;
            margin: 0px 30px 30px 0px;
            @media (min-width: 320px) and (max-width: 767px) {
                margin: 0px auto 30px auto;
                max-width: 90%;
            }
            .card__number {
                margin-bottom: 30px;
                .number__bg {
                    background: colors.$YELLOW;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    @include flex.flex($ai: center, $jc: center);
                    @include text.heading($color: colors.$BLUE, $fs: 24px);
                }
            }
            .card__text {
                p {
                    @include text.heading($color: colors.$BLUE, $fs: 24px, $lh: 140%);
                }
            }
        }
        @media (max-width: 1023px) {
            justify-content: center;
            margin-bottom: 50px;
        }
        @media (min-width: 1024px) and (max-width: 1439px) {
            max-width: 700px;
            margin: 0 auto;
            .learn__img {
                margin: 0 auto;
            }
        }
    }
}