@use '../utilities/colors';
@use '../utilities/text';

.quoteblock {
    width: 100%;
    background: colors.$BLUE;
    border-radius: 5px;
    .quoteblock__text {
        img {
            position: relative;
            left: 20px;
            width: 60px;
            height: 50px;
        }
        p {
            @include text.paragraph($fw: 500, $fs: 18px, $color: colors.$WHITE);
            padding: 0px 85px 55px 85px;
        }
    }
}