@use './colors';
@use './text';

@mixin ul-list($color, $spanColor) {
    ul {
        li {
            @include text.heading($lh: 155%, $color: $color, $fw: 700);
            list-style-type: disc;
            &::marker {
                color: colors.$YELLOW;
                font-size: 20px;
            }
            span {
                font-weight: 300;
                color: $spanColor;
            }
        }
    }

}

@mixin ol-list() {
    ol {
        li {
            @include text.paragraph($lh: 155%, $color: colors.$BLUE);
        }
    }
}