@use './colors';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap');

@mixin paragraph($fw: 'normal', $fs: '19px', $lh: 170%, $color: colors.$WHITE) {
    font-family: 'Inter', sans-serif;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $color;
}

@mixin heading($fz) {
    font-family: 'Cardo', 'serif';
    font-weight: 700;
    font-size: $fz;
    line-height: 130%;
    letter-spacing: -1.5%;
    color: colors.$BLUE;
}