@use '../components/button';
@use '../utilities/colors';
@use '../utilities/flex';
@use '../utilities/list';
@use '../utilities/text';
@use '../utilities/center';
@use '../components/line';


.main__about_author {
    background: colors.$ULTRA_LIGHT_BLUE;
    .about__content {
        padding: 150px 0px;
        @include flex.flex($ai: center, $jc: space-around);
        @media (max-width: 1023px) {
            flex-direction: column;
            padding: 150px 15px;
        }
        @media (min-width: 1024px) and (max-width: 1439px) {
            flex-direction: column;
        }
        .about__img {
            margin-right: 150px;
            
            img {
                width: 600px;
                height: 700px;
            }
            @media (min-width: 320px) and (max-width: 767px) {
                margin-right: 0px;
                img {
                    width: 300px;
                    height: 400px;
                    margin-bottom: 40px;
                    
                }
            }
        }
        .about__title {
            width: 100%;
            @media (min-width: 1023px) and (max-width: 1439px) {
                padding: 0px 30px;
            }
            h2 {
                @include text.heading($color: colors.$BLUE, $fs: 45px);
                margin-bottom: 20px;
                @media (min-width: 320px) and (max-width: 767px) {
                    font-size: 40px;
                    text-align: center;
                }
                

            }
            .line {
                @include line.line;
                margin-bottom: 20px;
                @media (min-width: 320px) and (max-width: 767px) {
                    margin: 0 auto 20px auto;
                }
            }
            .p-after{
                @include text.paragraph($color: colors.$GREY, $lh: 150%);
                margin-bottom: 50px;
            }
        }
        .about__stats {
            @include flex.flex($jc: space-between, $ai: center);
            margin-bottom: 40px;
            @media (min-width: 320px) and (max-width: 767px) {
                justify-content: normal;
                align-items: normal;
                width: 50%;
            }

            .line {
                transform: rotate(90deg);
                @media (min-width: 320px) and (max-width: 767px) {
                    transform: rotate(0deg);
                }
                width: 70px;
            }
            .about_stat {
                @media (min-width: 320px) and (max-width: 767px) {
                    margin: 0px 15px;
                }
                p {
                    &:first-child {
                        @include text.heading($color: colors.$BLUE, $fs: 55px);
                    }
                    @include text.paragraph($color: colors.$GREY, $fs: 16px);
                }
            }
        }
        .about__qr_block {
            background: colors.$BLUE;
            @include flex.flex($ai: center);
            padding: 15px;
            max-width: 480px;
            @media (min-width: 1024px) and (max-width: 1439px) {
                margin: 0 auto;
            }
            @media (min-width: 320px) and (max-width: 767px) {
                flex-direction: column;
                .qr {
                    margin-bottom: 20px;
                }
               
            }
            .qr__title {
                margin-left: 40px;
                @media (min-width: 320px) and (max-width: 767px) {
                    margin-left: 10px;
                }
                p {
                    &:first-child{
                        @include text.heading($color: colors.$YELLOW, $fs: 22px, $lh: 120%);
                    }
                    @include text.paragraph($color: colors.$GREY);
                }
                
            }
        }
    }
}