@use '../components/button';
@use '../components/line';
@use '../components/articles-card';
@use '../utilities/colors';
@use '../utilities/flex';
@use '../utilities/list';
@use '../utilities/text';
@use '../utilities/center';


.main__articles {
    background: colors.$ULTRA_LIGHT_BLUE;
    .articles__content {
        padding: 145px 0px;
        .articles__title {
            h3 {
                text-align: center;
                @include text.heading($color: colors.$BLUE, $fs: 45px);
                margin-bottom: 20px;
                @media (min-width: 320px) and (max-width: 767px) {
                    padding: 0px 15px;
                }
            }
            .line {
                margin: 0 auto;
                @include line.line;
                margin-bottom: 50px;
            }
        }
        .articeles__blocks {
            @include flex.flex($ai: center, $jc: space-between);
            @media (max-width: 1023px) {
                flex-direction: column;
            }
            @media (min-width: 1024px) and (max-width: 1439px) {
                flex-wrap: wrap;
                justify-content: space-around;
                padding: 0px 15px;
            }
        }
    }
}