@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap");
.header__wrapper {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 1023px) {
  .header__wrapper {
    justify-content: space-between;
  }
  .header__wrapper.open .header__sides {
    transform: translateX(0%);
  }
}
@media screen and (max-width: 1023px) and (max-width: 1023px) {
  .header__wrapper.open .header__sides {
    display: flex;
  }
}
@media screen and (max-width: 1023px) {
  .header__wrapper.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }
  .header__wrapper.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
  }
  .header__wrapper.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }
}
@media screen and (max-width: 1350px) {
  .header__wrapper {
    border-radius: 0%;
  }
}
.header__wrapper .header__burger-btn {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  display: none;
  z-index: 2;
  background-color: transparent;
  margin-left: 10px;
}
.header__wrapper .header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #fff;
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.header__wrapper .header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}
.header__wrapper .header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}
@media screen and (max-width: 1023px) {
  .header__wrapper .header__burger-btn {
    display: block;
  }
}
.header__wrapper .header__sides {
  justify-content: flex-start;
}
@media screen and (max-width: 1023px) {
  .header__wrapper .header__sides {
    margin-right: 20px;
  }
}
.header__wrapper .header__sides span {
  font-size: 35px;
}
.header__wrapper .header__sides span span {
  font-size: 25px;
}
.header__wrapper .header__sides {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__wrapper .header__sides .menu__box {
  display: flex;
  justify-content: flex-start;
}
.header__wrapper .header__sides .menu__box li {
  margin-right: 100px;
  list-style-type: none;
}
@media screen and (max-width: 1023px) {
  .header__wrapper .header__sides {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translateY(-200%);
    top: 0;
    padding: 50px 20px 20px 20px;
    background-color: #338b97;
    width: 100%;
    transition: transform 0.5s;
    text-align: center;
  }
  .header__wrapper .header__sides .header__left-side {
    margin-bottom: 30px;
  }
  .header__wrapper .header__sides .menu__box {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header__wrapper .header__sides .menu__box li {
    margin-right: 0px;
  }
  .header__wrapper .header__sides .menu__box li a {
    color: #000;
    display: block;
    padding: 30px 40px;
    font-size: 30px;
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .header__wrapper .header__sides {
    width: 100%;
    display: block;
    text-align: center;
  }
  .header__wrapper .header__sides .menu__box {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    transform: translate(-50%, -50%);
  }
  .header__wrapper .header__sides .menu__box li {
    margin-right: 0px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

body {
  background: #1B3764;
}

.content {
  max-width: 1300px;
  margin: 0 auto;
}

header {
  margin-top: 40px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  header {
    margin-bottom: 0px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  header {
    padding: 0px 30px;
  }
}
header .header__sides {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .header__sides .header__left-side {
    flex-direction: column;
  }
  header .header__sides .header__left-side .header__logo {
    margin-bottom: 20px;
  }
  header .header__sides .header__right-side nav {
    flex-direction: column;
  }
  header .header__sides .header__right-side nav .header__list ul {
    flex-direction: column;
  }
  header .header__sides .header__right-side nav .header__list ul li {
    margin-bottom: 15px;
  }
  header .header__sides .header__right-side nav .header__shopcart {
    margin-bottom: 20px;
  }
}
header .header__sides .header__left-side {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .header__sides .header__left-side .header__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .header__sides .header__left-side .header__logo .logo__title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  color: #FFFFFF;
  margin: 0px 35px 0px 10px;
}
header .header__sides .header__left-side .header__socialmedia {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
header .header__sides .header__left-side .header__socialmedia .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 45px;
  min-height: 45px;
  margin-right: 10px;
  background: transparent;
  border: 1px solid #FFCA42;
  background: #FFFFFF;
  border: none;
}
header .header__sides .header__right-side nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .header__sides .header__right-side nav .header__list ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .header__sides .header__right-side nav .header__list ul li {
  margin-right: 20px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 170%;
  color: #FFFFFF;
}
header .header__sides .header__right-side nav .header__shopcart {
  position: relative;
  margin-right: 30px;
  cursor: pointer;
}
header .header__sides .header__right-side nav .header__shopcart::before {
  content: "01";
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 10px;
  line-height: 170%;
  color: #1B3764;
  text-align: center;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: yellow;
  transform: translate(70%, -50%);
}
header .header__sides .header__right-side nav .header__btn button {
  width: 180px;
  height: 50px;
  border: 1px solid #FFCA42;
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 125%;
  color: #1B3764;
  background-color: transparent;
  cursor: pointer;
  background-color: #FFCA42;
  border: none;
}

main {
  margin-top: 30px;
}
main .main__welcome_part {
  margin-bottom: 115px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 1023px) {
  main .main__welcome_part {
    flex-direction: column;
    padding: 0px 15px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  main .main__welcome_part {
    padding: 0px 30px;
  }
}
main .main__welcome_part .welcome_part__info .welcome__info_text .welcome__line_text {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
main .main__welcome_part .welcome_part__info .welcome__info_text .welcome__line_text div {
  display: inline-block;
  border: 1px solid #FFCA42;
  width: 35px;
  height: 2px;
  margin-right: 15px;
}
main .main__welcome_part .welcome_part__info .welcome__info_text .welcome__line_text span {
  font-family: "Cardo", "serif";
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  color: #FFFFFF;
  font-style: italic;
}
main .main__welcome_part .welcome_part__info .welcome__info_text h1 {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 64px;
  line-height: 110%;
  color: #FFFFFF;
  margin-bottom: 30px;
}
main .main__welcome_part .welcome_part__info .welcome__info_text p {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 170%;
  color: #B4C7E7;
  margin-bottom: 50px;
}
main .main__welcome_part .welcome_part__info .welcome__info_order {
  margin-bottom: 50px;
}
main .main__welcome_part .welcome_part__info .welcome__info_order button {
  width: 220px;
  height: 65px;
  border: 1px solid #FFCA42;
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 125%;
  color: #1B3764;
  background-color: transparent;
  cursor: pointer;
  background-color: #FFCA42;
  border: none;
  margin-right: 40px;
}
main .main__welcome_part .welcome_part__info .welcome__info_order a span {
  font-family: "Cardo", "serif";
  font-weight: 700;
  font-size: 19px;
  line-height: 125%;
  color: #FFFFFF;
  border-bottom: 1px solid white;
}
@media (max-width: 1023px) {
  main .main__welcome_part .welcome_part__info .welcome__info_order {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 30px;
  }
  main .main__welcome_part .welcome_part__info .welcome__info_order button {
    margin-bottom: 20px;
  }
}
main .main__welcome_part .welcome_part__info .welcome__info_list ul li {
  font-family: "Cardo", "serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 155%;
  color: #FFFFFF;
  list-style-type: disc;
}
main .main__welcome_part .welcome_part__info .welcome__info_list ul li::marker {
  color: #FFCA42;
  font-size: 20px;
}
main .main__welcome_part .welcome_part__info .welcome__info_list ul li span {
  font-weight: 300;
  color: #DCE1E9;
}
main .main__welcome_part .welcome_part__info .welcome__info_list ul {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
}
main .main__welcome_part .welcome_part__info .welcome__info_list ul li {
  margin-right: 80px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  main .main__welcome_part .welcome_part__info .welcome__info_list ul li {
    margin-right: 50px;
  }
}
@media (min-width: 320px) and (max-width: 580px) {
  main .main__welcome_part .welcome_part__info .welcome__info_list ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  main .main__welcome_part .welcome_part__info .welcome__info_list ul li {
    margin-bottom: 15px;
  }
  main .main__welcome_part .welcome_part__info .welcome__info_list ul li:last-child {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .main__welcome_part .welcome_part__info .welcome__info_list li {
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  main .main__welcome_part .welcome_part__image img {
    width: 500px;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  main .main__welcome_part .welcome_part__image img {
    width: 400px;
  }
}
@media (min-width: 375px) and (max-width: 425px) {
  main .main__welcome_part .welcome_part__image img {
    width: 300px;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  main .main__welcome_part .welcome_part__image img {
    width: 250px;
  }
}

.main__book_includes {
  background-color: #FFFFFF;
}
.main__book_includes .book__includes_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main__book_includes .book__includes_content h3 {
  margin: 145px 0px 20px 0px;
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 45px;
  line-height: 50px;
  color: #1B3764;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__book_includes .book__includes_content h3 {
    text-align: center;
    font-size: 40px;
  }
}
.main__book_includes .book__includes_content .line {
  width: 55px;
  border: 1px solid #FFCA42;
  margin-bottom: 55px;
}
.main__book_includes .book__includes_content .book_includes__books {
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .main__book_includes .book__includes_content .book_includes__books {
    flex-direction: column;
  }
}
.main__book_includes .book__includes_content .book_includes__books .book_includes__books_book {
  margin: 0px 50px 50px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .main__book_includes .book__includes_content .book_includes__books .book_includes__books_book {
    flex-direction: column;
    margin: 0px 0px 50px 0px;
  }
}
.main__book_includes .book__includes_content .book_includes__books .book_includes__books_book .book__img img {
  width: 300px;
  height: 400px;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .main__book_includes .book__includes_content .book_includes__books .book_includes__books_book .book__img img {
    margin-bottom: 40px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .main__book_includes .book__includes_content .book_includes__books .book_includes__books_book .book__img img {
    width: 200px;
    height: 300px;
    padding-left: 15px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__book_includes .book__includes_content .book_includes__books .book_includes__books_book .book__info {
    margin-left: 0px;
    padding: 0px 15px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main__book_includes .book__includes_content .book_includes__books .book_includes__books_book .book__info {
    text-align: center;
    max-width: 50%;
  }
}
@media (min-width: 1024px) {
  .main__book_includes .book__includes_content .book_includes__books .book_includes__books_book .book__info {
    margin-left: 40px;
  }
}
.main__book_includes .book__includes_content .book_includes__books .book_includes__books_book .book__info h4 {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 32px;
  line-height: 50px;
  color: #1B3764;
  margin-bottom: 15px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .main__book_includes .book__includes_content .book_includes__books .book_includes__books_book .book__info h4 {
    font-size: 28px;
  }
}
.main__book_includes .book__includes_content .book_includes__books .book_includes__books_book .book__info p {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 150%;
  color: #969AA0;
  margin-bottom: 30px;
}
.main__book_includes .book__includes_content .book_includes__books .book_includes__books_book .book__info ul li {
  font-family: "Cardo", "serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 155%;
  color: #1B3764;
  list-style-type: disc;
}
.main__book_includes .book__includes_content .book_includes__books .book_includes__books_book .book__info ul li::marker {
  color: #FFCA42;
  font-size: 20px;
}
.main__book_includes .book__includes_content .book_includes__books .book_includes__books_book .book__info ul li span {
  font-weight: 300;
  color: #969AA0;
}
.main__book_includes .book__includes_content .book_includes__books .book_includes__books_book .book__info ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .main__book_includes .book__includes_content .book_includes__books .book_includes__books_book .book__info ul {
    justify-content: space-around;
  }
}
.main__book_includes .book__includes_content .book_includes__books .book_includes__books_book .book__info ul li:first-child {
  margin-left: 20px;
}
.main__book_includes .book__includes_content .book_includes__books .book_includes__books_book .book__info button {
  width: 220px;
  height: 65px;
  border: 1px solid #FFCA42;
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 125%;
  color: #1B3764;
  background-color: transparent;
  cursor: pointer;
}

.main__about_author {
  background: #F4F8FF;
}
.main__about_author .about__content {
  padding: 150px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 1023px) {
  .main__about_author .about__content {
    flex-direction: column;
    padding: 150px 15px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .main__about_author .about__content {
    flex-direction: column;
  }
}
.main__about_author .about__content .about__img {
  margin-right: 150px;
}
.main__about_author .about__content .about__img img {
  width: 600px;
  height: 700px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__about_author .about__content .about__img {
    margin-right: 0px;
  }
  .main__about_author .about__content .about__img img {
    width: 300px;
    height: 400px;
    margin-bottom: 40px;
  }
}
.main__about_author .about__content .about__title {
  width: 100%;
}
@media (min-width: 1023px) and (max-width: 1439px) {
  .main__about_author .about__content .about__title {
    padding: 0px 30px;
  }
}
.main__about_author .about__content .about__title h2 {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 45px;
  line-height: 50px;
  color: #1B3764;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__about_author .about__content .about__title h2 {
    font-size: 40px;
    text-align: center;
  }
}
.main__about_author .about__content .about__title .line {
  width: 55px;
  border: 1px solid #FFCA42;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__about_author .about__content .about__title .line {
    margin: 0 auto 20px auto;
  }
}
.main__about_author .about__content .about__title .p-after {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 150%;
  color: #969AA0;
  margin-bottom: 50px;
}
.main__about_author .about__content .about__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__about_author .about__content .about__stats {
    justify-content: normal;
    align-items: normal;
    width: 50%;
  }
}
.main__about_author .about__content .about__stats .line {
  transform: rotate(90deg);
  width: 70px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__about_author .about__content .about__stats .line {
    transform: rotate(0deg);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__about_author .about__content .about__stats .about_stat {
    margin: 0px 15px;
  }
}
.main__about_author .about__content .about__stats .about_stat p {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #969AA0;
}
.main__about_author .about__content .about__stats .about_stat p:first-child {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 55px;
  line-height: 50px;
  color: #1B3764;
}
.main__about_author .about__content .about__qr_block {
  background: #1B3764;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  max-width: 480px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .main__about_author .about__content .about__qr_block {
    margin: 0 auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__about_author .about__content .about__qr_block {
    flex-direction: column;
  }
  .main__about_author .about__content .about__qr_block .qr {
    margin-bottom: 20px;
  }
}
.main__about_author .about__content .about__qr_block .qr__title {
  margin-left: 40px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__about_author .about__content .about__qr_block .qr__title {
    margin-left: 10px;
  }
}
.main__about_author .about__content .about__qr_block .qr__title p {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 170%;
  color: #969AA0;
}
.main__about_author .about__content .about__qr_block .qr__title p:first-child {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 22px;
  line-height: 120%;
  color: #FFCA42;
}

.main__trusted_section {
  background: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .main__trusted_section .trusted__content {
    padding: 0px 30px;
  }
}
.main__trusted_section .trusted__content .trusted__title h2 {
  text-align: center;
  margin: 130px 0px 20px 0px;
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 45px;
  line-height: 50px;
  color: #1B3764;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__trusted_section .trusted__content .trusted__title h2 {
    font-size: 40px;
  }
}
.main__trusted_section .trusted__content .trusted__title .line {
  width: 55px;
  border: 1px solid #FFCA42;
  margin: 0px auto 40px auto;
}
.main__trusted_section .trusted__companies {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__trusted_section .trusted__companies {
    padding: 0px 15px;
  }
}
.main__trusted_section .trusted__companies .trusted__company_block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  max-width: 325px;
  max-height: 200px;
  margin-bottom: 100px;
}
.main__trusted_section .trusted__companies .trusted__company_block:last-child {
  margin-bottom: 140px;
}
.main__trusted_section .trusted__companies .trusted__company_block:nth-child(3n+1) img {
  width: 100px;
  height: 100px;
}
.main__trusted_section .trusted__companies .trusted__company_block img {
  width: 150px;
  height: 100px;
}
.main__trusted_section .trusted__companies .trusted__company_block p {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 24px;
  line-height: 50px;
  color: #1B3764;
}
.main__trusted_section .trusted__companies .trusted__company_block p:last-child {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 170%;
  color: #969AA0;
}
@media (max-width: 1023px) {
  .main__trusted_section .trusted__companies {
    flex-direction: column;
  }
  .main__trusted_section .trusted__companies .trusted__com {
    width: 500px;
    height: 375px;
  }
}

.main__get_book .get__book_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .main__get_book .get__book_content {
    padding: 0px 30px;
  }
}
.main__get_book .get__book_content .get__book_info {
  margin: 120px 125px 120px 0px;
  max-width: 600px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__get_book .get__book_content .get__book_info {
    padding: 0px 15px;
  }
}
@media (max-width: 1023px) {
  .main__get_book .get__book_content .get__book_info {
    margin: 120px 0px;
  }
}
.main__get_book .get__book_content .get__book_info h2 {
  font-family: "Cardo", "serif";
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__get_book .get__book_content .get__book_info h2 {
    font-size: 35px;
    text-align: center;
  }
}
.main__get_book .get__book_content .get__book_info .line {
  width: 55px;
  border: 1px solid #FFCA42;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__get_book .get__book_content .get__book_info .line {
    margin: 0px auto 20px auto;
  }
}
.main__get_book .get__book_content .get__book_info p {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 170%;
  color: #DCE1E9;
  margin-bottom: 30px;
}
.main__get_book .get__book_content .get__book_info button {
  width: 220px;
  height: 65px;
  border: 1px solid #FFCA42;
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 125%;
  color: #1B3764;
  background-color: transparent;
  cursor: pointer;
  color: #FFFFFF;
}
.main__get_book .get__book_content .get__book_img {
  margin: 30px 0px;
}
@media (max-width: 1023px) {
  .main__get_book .get__book_content {
    flex-direction: column;
  }
  .main__get_book .get__book_content .get__book_img {
    margin: 20px 0px 60px 0px;
  }
}
@media (max-width: 1023px) and (min-width: 320px) and (max-width: 767px) {
  .main__get_book .get__book_content .get__book_img img {
    width: 300px;
  }
}

.what-learn {
  background: #FFFFFF;
}
.what-learn .learn__content .learn__content-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.what-learn .learn__content .learn__content-title h2 {
  margin: 145px 0px 20px 0px;
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 45px;
  line-height: 50px;
  color: #1B3764;
}
@media (min-width: 320px) and (max-width: 767px) {
  .what-learn .learn__content .learn__content-title h2 {
    font-size: 40px;
    text-align: center;
  }
}
.what-learn .learn__content .learn__content-title .line {
  width: 55px;
  border: 1px solid #FFCA42;
  margin-bottom: 55px;
}
.what-learn .learn__content .learn__content-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 140px;
}
.what-learn .learn__content .learn__content-info .learn__cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
@media (min-width: 320px) and (max-width: 767px) {
  .what-learn .learn__content .learn__content-info .learn__cards {
    flex-direction: column;
  }
}
.what-learn .learn__content .learn__content-info .learn__cards .learn__card {
  max-width: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 40px 35px;
  background: #F4F8FF;
  margin: 0px 30px 30px 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .what-learn .learn__content .learn__content-info .learn__cards .learn__card {
    margin: 0px auto 30px auto;
    max-width: 90%;
  }
}
.what-learn .learn__content .learn__content-info .learn__cards .learn__card .card__number {
  margin-bottom: 30px;
}
.what-learn .learn__content .learn__content-info .learn__cards .learn__card .card__number .number__bg {
  background: #FFCA42;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 24px;
  line-height: 50px;
  color: #1B3764;
}
.what-learn .learn__content .learn__content-info .learn__cards .learn__card .card__text p {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  color: #1B3764;
}
@media (max-width: 1023px) {
  .what-learn .learn__content .learn__content-info .learn__cards {
    justify-content: center;
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .what-learn .learn__content .learn__content-info .learn__cards {
    max-width: 700px;
    margin: 0 auto;
  }
  .what-learn .learn__content .learn__content-info .learn__cards .learn__img {
    margin: 0 auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .what-learn .learn__content .learn__content-info .learn__img img {
    width: 300px;
  }
}
@media (max-width: 1023px) {
  .what-learn .learn__content .learn__content-info {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .what-learn .learn__content .learn__content-info {
    flex-direction: column;
  }
  .what-learn .learn__content .learn__content-info .learn__img {
    margin: 0 auto;
  }
}

.chapter__content-card {
  max-width: 630px;
  background: #FFFFFF;
  padding: 50px;
  margin-bottom: 40px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .chapter__content-card {
    width: 90%;
  }
}
.chapter__content-card:nth-child(odd) {
  margin-right: 40px;
}
@media (max-width: 1439px) {
  .chapter__content-card:nth-child(odd) {
    margin-right: 0px;
  }
}
.chapter__content-card h3 {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #1B3764;
  margin-bottom: 15px;
}
.chapter__content-card p {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 170%;
  color: #969AA0;
  margin-bottom: 15px;
}
.chapter__content-card ul {
  margin: 20px 0px 0px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 767px) {
  .chapter__content-card ul {
    flex-direction: column;
  }
  .chapter__content-card ul li {
    margin-bottom: 20px;
  }
  .chapter__content-card ul li span {
    font-size: 16px;
  }
}
.chapter__content-card ul li {
  font-family: "Cardo", "serif";
  font-weight: 700;
  font-size: 20px;
  line-height: 155%;
  color: #1B3764;
  list-style-type: disc;
}
.chapter__content-card ul li::marker {
  color: #FFCA42;
  font-size: 20px;
}
.chapter__content-card ul li span {
  font-weight: 300;
  color: #969AA0;
}

.main__chapter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: #F4F8FF;
}
.main__chapter .chapter__content {
  margin-top: 145px;
}
.main__chapter .chapter__content .chapter__content-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main__chapter .chapter__content .chapter__content-title h2 {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 45px;
  line-height: 50px;
  color: #1B3764;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__chapter .chapter__content .chapter__content-title h2 {
    font-size: 40px;
    text-align: center;
  }
}
.main__chapter .chapter__content .chapter__content-title .line {
  width: 55px;
  border: 1px solid #FFCA42;
  margin-bottom: 50px;
}
.main__chapter .chapter__content .chapter__content-info .chapter__content-cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
@media (max-width: 1023px) {
  .main__chapter .chapter__content .chapter__content-info .chapter__content-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .main__chapter .chapter__content .chapter__content-info .chapter__content-cards {
    justify-content: center;
    align-items: center;
  }
}
.main__chapter .chapter__content .chapter__content-info .chapter__content-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 430px;
  margin: 0 auto;
}
.main__chapter .chapter__content .chapter__content-info .chapter__content-btn button {
  width: 430px;
  height: 65px;
  border: 1px solid #FFCA42;
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 125%;
  color: #1B3764;
  background-color: transparent;
  cursor: pointer;
  background-color: #FFCA42;
  border: none;
  margin-bottom: 32px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__chapter .chapter__content .chapter__content-info .chapter__content-btn button {
    width: 280px;
  }
}
.main__chapter .chapter__content .chapter__content-info .chapter__content-btn p {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  color: #969AA0;
  padding: 0px 55px;
  text-align: center;
  margin-bottom: 150px;
}
.main__chapter .chapter__content .chapter__content-info .chapter__content-btn p a {
  color: #1B3764;
  font-size: 18px;
  text-decoration: underline;
}

.readers-about__card {
  flex-direction: column;
  max-width: 370px;
  background: #1B3764;
}
@media (min-width: 320px) and (max-width: 767px) {
  .readers-about__card {
    max-width: 90%;
  }
}
@media (min-width: 1024px) {
  .readers-about__card {
    max-width: 0px;
    min-width: 370px;
  }
}
.readers-about__card:last-child {
  position: absolute;
  top: 50%;
  left: 105%;
  transform: translateY(-50%);
}
@media (max-width: 1023px) {
  .readers-about__card:last-child {
    position: initial;
    transform: translateY(0%);
    margin-top: 20px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .readers-about__card:last-child {
    position: relative;
    transform: translateY(0%);
    top: auto;
    left: auto;
    margin-top: 20px;
  }
}
.readers-about__card:first-child {
  margin-bottom: 30px;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .readers-about__card:first-child {
    margin: 0px 20px 0px 0px;
  }
}
.readers-about__card .card__user-data {
  padding: 30px;
}
.readers-about__card .card__user-data .card__user-info {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.readers-about__card .card__user-data .card__user-info .user-info__img img {
  margin-right: 20px;
}
.readers-about__card .card__user-data .card__user-info .user-info__username p {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #FFFFFF;
}
.readers-about__card .card__user-data .card__user-info .user-info__username img {
  max-width: 75px;
}
.readers-about__card .card__user-data .card__text h3 {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 22px;
  line-height: 50px;
  color: #FFFFFF;
}
.readers-about__card .card__user-data .card__text p {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 150%;
  color: #969AA0;
}

.main__readers-about {
  background: #FFFFFF;
}
.main__readers-about .readers-about__content {
  padding: 140px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .main__readers-about .readers-about__content {
    flex-direction: column;
    padding: 140px 15px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .main__readers-about .readers-about__content {
    flex-direction: column;
  }
}
.main__readers-about .readers-about__content .readers-about__text {
  max-width: 420px;
  margin-right: 120px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__readers-about .readers-about__content .readers-about__text {
    margin-right: 0px;
  }
}
.main__readers-about .readers-about__content .readers-about__text h2 {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 45px;
  line-height: 50px;
  color: #1B3764;
  margin-bottom: 25px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__readers-about .readers-about__content .readers-about__text h2 {
    font-size: 40px;
    text-align: center;
  }
}
.main__readers-about .readers-about__content .readers-about__text .line {
  width: 55px;
  border: 1px solid #FFCA42;
  margin-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__readers-about .readers-about__content .readers-about__text .line {
    margin: 0 auto;
  }
}
.main__readers-about .readers-about__content .readers-about__text p {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 170%;
  color: #969AA0;
  margin-bottom: 40px;
}
.main__readers-about .readers-about__content .readers-about__text p:last-child {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 170%;
  color: #1B3764;
}
.main__readers-about .readers-about__content .readers-about__text .text__rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main__readers-about .readers-about__content .readers-about__text .text__rating span {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 22px;
  line-height: 50px;
  color: #1B3764;
  margin-left: 10px;
}
.main__readers-about .readers-about__content .readers-about__cards {
  position: relative;
  max-height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (max-width: 1023px) {
  .main__readers-about .readers-about__content .readers-about__cards {
    max-height: none;
    flex-direction: row;
    align-items: normal;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .main__readers-about .readers-about__content .readers-about__cards {
    flex-direction: row;
  }
}

.articles__block {
  max-width: 410px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .articles__block {
    max-width: 90%;
  }
}
@media (max-width: 1023px) {
  .articles__block {
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .articles__block:last-child {
    margin-top: 50px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .articles__block .articles__block_img img {
    width: 100%;
  }
}
.articles__block .articles__block_text {
  margin-top: -5px;
  background: #FFFFFF;
  padding: 30px 25px;
}
.articles__block .articles__block_text h3 {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  color: #1B3764;
  margin-bottom: 10px;
}
.articles__block .articles__block_text p {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 170%;
  color: #969AA0;
  margin-bottom: 25px;
}
.articles__block .articles__block_text .text__more {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.articles__block .articles__block_text .text__more .read__more {
  max-width: 50%;
}
.articles__block .articles__block_text .text__more .read__more a {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
  color: #1B3764;
  border-bottom: 1px solid #1B3764;
}
.articles__block .articles__block_text .text__more .author__date {
  max-width: 50%;
}
.articles__block .articles__block_text .text__more .author__date span {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
  color: #1B3764;
}

.main__articles {
  background: #F4F8FF;
}
.main__articles .articles__content {
  padding: 145px 0px;
}
.main__articles .articles__content .articles__title h3 {
  text-align: center;
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 45px;
  line-height: 50px;
  color: #1B3764;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__articles .articles__content .articles__title h3 {
    padding: 0px 15px;
  }
}
.main__articles .articles__content .articles__title .line {
  margin: 0 auto;
  width: 55px;
  border: 1px solid #FFCA42;
  margin-bottom: 50px;
}
.main__articles .articles__content .articeles__blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .main__articles .articles__content .articeles__blocks {
    flex-direction: column;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .main__articles .articles__content .articeles__blocks {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.main__free {
  background: #FFFFFF;
}
.main__free .main__free_content {
  padding: 150px 0px;
}
.main__free .main__free_content .main__free_block {
  background: #FFCA42;
}
.main__free .main__free_content .main__free_block .block_info {
  padding: 120px 230px;
}
@media (max-width: 1023px) {
  .main__free .main__free_content .main__free_block .block_info {
    padding: 120px 15px;
  }
}
.main__free .main__free_content .main__free_block .block_info h2 {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 45px;
  line-height: 120%;
  color: #1B3764;
  text-align: center;
  margin-bottom: 20px;
}
.main__free .main__free_content .main__free_block .block_info .line {
  width: 55px;
  border: 1px solid #FFCA42;
  border-color: #1B3764;
  margin: 0px auto 20px auto;
}
.main__free .main__free_content .main__free_block .block_info p {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 180%;
  color: #1B3764;
  max-width: 660px;
  margin: 0 auto 40px auto;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__free .main__free_content .main__free_block .block_info p {
    padding: 0px 15px;
  }
}
.main__free .main__free_content .main__free_block .block_info div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 1023px) {
  .main__free .main__free_content .main__free_block .block_info div {
    flex-direction: column;
  }
  .main__free .main__free_content .main__free_block .block_info div .email_input {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
.main__free .main__free_content .main__free_block .block_info div .email_input {
  width: 530px;
  height: 65px;
  border: none;
  outline: none;
  padding-left: 25px;
  color: #969AA0;
  margin-right: 10px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__free .main__free_content .main__free_block .block_info div .email_input {
    width: 280px;
  }
}
.main__free .main__free_content .main__free_block .block_info div .submit_input {
  width: 220px;
  height: 65px;
  border: 1px solid #FFCA42;
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 125%;
  color: #1B3764;
  background-color: transparent;
  cursor: pointer;
  background: #1B3764;
  color: #FFFFFF;
  outline: none;
  border: none;
}

footer .footer__content .footer__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 85px 0px 70px 0px;
  border-bottom: 1px solid #969AA0;
}
footer .footer__content .footer__info .info__data {
  margin-right: 180px;
}
footer .footer__content .footer__info .info__data .info__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
}
footer .footer__content .footer__info .info__data .info__logo .logo__title a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 170%;
  color: #FFFFFF;
  margin-left: 10px;
}
footer .footer__content .footer__info .info__data .footer__socialmedia {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
footer .footer__content .footer__info .info__data .footer__socialmedia .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 45px;
  min-height: 45px;
  margin-right: 10px;
  background: transparent;
  border: 1px solid #FFCA42;
}
@media (max-width: 1439px) {
  footer .footer__content .footer__info {
    flex-direction: column;
  }
  footer .footer__content .footer__info .info__data {
    margin: 0px 0px 50px 0px;
    width: 100%;
  }
  footer .footer__content .footer__info .info__data .info__logo, footer .footer__content .footer__info .info__data .footer__socialmedia {
    justify-content: center;
  }
}
footer .footer__content .footer__lists {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 767px) {
  footer .footer__content .footer__lists .footer__list {
    margin-bottom: 50px;
  }
}
footer .footer__content .footer__lists .footer__list h3 {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 24px;
  line-height: 170%;
  color: #FFFFFF;
  margin-bottom: 20px;
}
footer .footer__content .footer__lists .footer__list ul {
  margin-left: 10px;
}
footer .footer__content .footer__lists .footer__list ul li a {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 205%;
  color: #B4C7E7;
}
footer .footer__content .footer__lists .footer__touch h3 {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 24px;
  line-height: 170%;
  color: #FFFFFF;
  margin-bottom: 30px;
}
footer .footer__content .footer__lists .footer__touch ul li {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
  color: #FFFFFF;
  margin-bottom: 15px;
}
footer .footer__content .footer__lists .footer__touch ul li span {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #B4C7E7;
}
@media (min-width: 320px) and (max-width: 424px) {
  footer .footer__content .footer__lists {
    padding: 0px 50px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  footer .footer__content .footer__lists .footer__touch {
    text-align: center;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  footer .footer__content .footer__lists {
    padding: 0px 50px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
  }
  footer .footer__content .footer__lists .footer__touch {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer .footer__content .footer__lists {
    padding: 0px 50px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
  }
  footer .footer__content .footer__lists .footer__touch {
    margin-top: 50px;
    text-align: center;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  footer .footer__content .footer__lists {
    padding: 0px 110px;
    flex-wrap: wrap;
  }
  footer .footer__content .footer__lists .footer__touch {
    max-width: 350px;
  }
}
footer .footer__copyright p {
  text-align: center;
  margin: 20px 0px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #B4C7E7;
}
footer .footer__copyright p span {
  color: #FFFFFF;
}

.main__popup {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: none;
}
.main__popup.open {
  display: flex;
}
.main__popup .popup__bg {
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #1B3764;
  position: absolute;
  opacity: 0.7;
}
.main__popup .popup__content {
  z-index: 999;
  width: 800px;
  height: 700px;
  background: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main__popup .popup__content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    flex-direction: column;
  }
}
.main__popup .popup__content .popup__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #FFCA42;
  height: 130px;
  margin-bottom: 60px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__popup .popup__content .popup__title {
    margin-bottom: 30px;
    padding-top: 70px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main__popup .popup__content .popup__title {
    width: 100%;
  }
}
.main__popup .popup__content .popup__title h2 {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 50px;
  line-height: 120%;
  color: #1B3764;
}
.main__popup .popup__content .popup__title button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 50px;
  color: #1B3764;
  cursor: pointer;
}
.main__popup .popup__content .popup__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 75px;
  margin-bottom: 65px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__popup .popup__content .popup__info {
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;
    margin-bottom: 35px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main__popup .popup__content .popup__info {
    width: 100%;
  }
}
.main__popup .popup__content .popup__info .info__book {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .main__popup .popup__content .popup__info .info__book {
    margin-bottom: 20px;
  }
}
.main__popup .popup__content .popup__info .info__book img {
  width: 130px;
  height: 100%;
  margin-right: 35px;
}
.main__popup .popup__content .popup__info .info__book div h4 {
  font-family: "Cardo", "serif";
  font-weight: normal;
  font-size: 24px;
  line-height: 52px;
  color: #1B3764;
}
.main__popup .popup__content .popup__info .info__book div h5 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 170%;
  color: #969AA0;
  margin-bottom: 40px;
}
.main__popup .popup__content .popup__info .info__book div a {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 52px;
  color: #1B3764;
}
.main__popup .popup__content .popup__info p {
  padding: 18px 60px 18px 25px;
  background: #F5F8FC;
  border: 1px solid #969AA0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #969AA0;
}
.main__popup .popup__content .popup__price {
  border-top: 1px solid #969AA0;
  padding: 25px 75px 60px 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main__popup .popup__content .popup__price {
    padding: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main__popup .popup__content .popup__price {
    width: 100%;
    padding: 15px 70px;
  }
}
.main__popup .popup__content .popup__price p {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 170%;
  color: #1B3764;
}
.main__popup .popup__content .popup__price p:first-child {
  font-family: "Cardo", "serif";
  font-weight: 300;
  font-size: 24px;
  line-height: 52px;
  color: #1B3764;
}
.main__popup .popup__content .popup__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .main__popup .popup__content .popup__btn {
    width: 100%;
  }
}
.main__popup .popup__content .popup__btn button {
  width: 220px;
  height: 65px;
  border: 1px solid #FFCA42;
  font-family: "Cardo", serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 125%;
  color: #1B3764;
  background-color: transparent;
  cursor: pointer;
  background-color: #FFCA42;
  border: none;
  width: 80%;
}

/*# sourceMappingURL=styles.css.map */